<div class="reset-password-container">
  <h2>Reset Password</h2>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">

    <div class="input-group">
      <input [type]="showPassword ? 'text' : 'password'" placeholder="New Password" formControlName="password" />
      <i class="material-icons icon" (click)="togglePassword()">
        {{ showPassword ? 'visibility_off' : 'visibility' }}
      </i>
    </div>
    <div class="error" *ngIf="resetForm.get('password')?.invalid && resetForm.get('password')?.touched">
      <small *ngIf="resetForm.get('password')?.errors?.['required']">Password is required.</small>
    </div>
    
    <ul class="rules">
      <li [class.valid]="minLength">
        <span class="material-icons">{{ minLength ? 'check_circle' : 'cancel' }}</span>
        At least 8 characters
      </li>
      <li [class.valid]="hasNumber">
        <span class="material-icons">{{ hasNumber ? 'check_circle' : 'cancel' }}</span>
        Contain at least 1 number
      </li>
      <li [class.valid]="hasUpperLower">
        <span class="material-icons">{{ hasUpperLower ? 'check_circle' : 'cancel' }}</span>
        Combine uppercase and lowercase letters
      </li>
    </ul>

    <div class="input-group">
      <input
        [type]="showConfirm ? 'text' : 'password'"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
      <i class="material-icons icon" (click)="toggleConfirm()">
        {{ showConfirm ? 'visibility_off' : 'visibility' }}
      </i>
    </div>
    
    <div class="error" *ngIf="resetForm.hasError('mismatch') && resetForm.get('confirmPassword')?.touched">
      Passwords do not match
    </div>
    <div class="error" *ngIf="resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched">
      <small *ngIf="resetForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required.</small>
    </div>
    

    <button type="submit">Reset Password</button>
    <button type="button" class="back-btn" (click)="goBack()">Back</button>
  </form>
</div>
